@model MyTermProject.Models.Books

@{
    ViewData["Title"] = "Book Details";
}

<h1 class="p-5 mb-2 shadow" style="background-color:lightpink; border-radius:20px;">Catalog Details</h1>

<div>
    <h4 class = "p-2">Book Information</h4>
    <hr />
    <dl class="row p-3">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookFormat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookFormat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to Catalog</a>
</div>
